
<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error}}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form class="row g-3" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <h3>Sign Up</h3>
        <div class="col-12">
            <label for="inputEmail" class="form-label">Email Address</label>
            <input
            type="email"
            class="form-control"
            id="inputEmail"
            ngModel
            name="email"
            placeholder=""
            />
        </div>
        
        <div class="col-md-12">
            <label for="Pass" class="form-label">Password</label>
            <input type="Password" class="form-control" id="Pass"
            ngModel
            name="password"
            />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <span class="text-primary"> | Don't have an account?</span>
            <a routerLink="/register" class="text-primary">Sign Up</a> 
          </div>
        </form>
    </div>
    </div>
    