.thumbnail{
    width: 80px;
    height: 80px;
    border-radius:100% ;
    background-size: cover;
}

a:link
{
    text-decoration: none;
   
}

a{
    color: #FF6F61;
}

.buttn
{
    margin-bottom: 20px;
    background-color: #FF6F61;
    color:white;
    border: none;
}
