.btn-success{
    color: #ffffff;
    background: #198754;
    border: 1px solid #ffffff;
}
.btn-danger{
    color: #ffffff;
    background: #dc3545;
    border: 1px solid #ffffff;
}


.btn:hover,
.btn:active,
.btn:focus {
    color: #ffffff;
    background: #FF6F61;
    box-shadow: none;
}   

.btn
{
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
}