<!-- <app-header></app-header> -->
<div class="container">

<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="">Name</label>
        <input
          id="name"
          #name="ngModel"
          type="text"
          class="form-control"
          [(ngModel)]="prd.name"
          name="name"
          required
        />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            id="price"
            #price="ngModel"
            type="text"
            class="form-control"
            [(ngModel)]="prd.price"
            name="price"
            required
            [min]="0"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div>Price is required!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <input
          id="name"
          #name="ngModel"
          type="text"
          class="form-control"
          [(ngModel)]="prd.description"
          name="description"
          required
        />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          id="quantity"
          #q="ngModel"
          type="number"
          class="form-control"
          [(ngModel)]="prd.quantity"
          name="quantity"
          required
        />
        <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
          Quantity is required!
        </div>
      </div>
      <div class="form-group">
        <label for="img">Image</label>
        <input
          id="img"
          #img="ngModel"
          type="text"
          class="form-control"
          [(ngModel)]="prd.picture"
          name="picture"
          required
        />
        <div class="alert alert-danger" *ngIf="img.touched && img.invalid">
          Image is required!
        </div>
      </div>
      <div class="form-group">
        <label for="categ">Category</label>
        <select
          #cat="ngModel"
          [(ngModel)]="prd.categoryId"
          name="categoryId"
          id="categ"
          class="form-select"
          required
        >
          <option></option>
          <option [value]="c.id" *ngFor="let c of categories">
            {{ c.name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="cat.touched && cat.invalid">
          Category is required!
        </div>
      </div>
      <button class="btn btn-success" type="submit">Save</button>
      
    </form>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem" *ngIf="prd.name">
      <img [src]="prd.picture" class="card-img-top" *ngIf="prd.picture" />
      <div class="card-body">
        <h5 class="card-title">{{prd.name}}</h5>
        <p class="card-text">
          {{prd.price | currency:"USD":true}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
