<div class="container">

    <p>
        <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>




<table class="table"> 
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>
                <a [routerLink]="['/admin/products/',p._id]">Edit</a>
                <a  (click)="del(p._id)">  Delete</a>
            </td>
        </tr>
    </tbody>
</table> 
    </div>