<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
             <!-- <app-navbar></app-navbar> -->
            </div>
            <div class="col-md-7">
                <app-banner></app-banner>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="assets/img/category-1.jpg" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="assets/img/category-2.jpg" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-brand></app-brand>

<!-- Feature Start-->
<app-feature></app-feature>
<!-- Feature End-->      

<!-- Category Start-->
<app-category></app-category>

<!-- Category End-->       

<!-- Call to Action Start -->
<app-call-to-action></app-call-to-action>
<!-- Call to Action End -->           


<!-- Review Start -->
<app-review></app-review>
<!-- Review End -->        